<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Reddit Clone{% endblock %}</title>
</head>
<body>
    <div>
        Reddit Clone:
        <a href="{{ url_for('main.index') }}">Home</a>
        <a href="{{ url_for('communities.list_communities') }}">View Communities</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('auth.login') }}">Login</a>
        <a href="{{ url_for('auth.register') }}">Register</a>
        {% else %}
        <a href="{{ url_for('communities.create_community') }}">Create Community</a>
        <a href="{{ url_for('auth.logout') }}">Logout</a>
        <span>Hi, {{ current_user.username }}!</span>
        {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul>
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>
